body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* For screens between 1200px and 2560px, make container full-width */
@media (min-width: 1200px) and (max-width: 2560px) {
  .container {
    max-width: 100%;
    /* Adjust padding for edge-to-edge feel */
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  text-decoration: none;
  color: #333;
}
.logo-main {
  font-size: 1.75em;
  font-weight: bold;
  margin: 0;
}
.logo-sub {
  font-size: 1.25em;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  border-color: #ccc;
}

/* Navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.navbar a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.navbar a:hover,
.navbar a.active {
  background-color: #e9ecef;
}

/* Generic Block Styling */
.block {
  /* padding: 60px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd; */
}

/* Hero Block */
.hero {
  /* position: relative; */
  /* height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* background-color: #ddd;
  background-image: url("../src/assets/cranes.jpg");
  background-size: cover;
  background-position: center; */
  z-index: 1;
  height: 500px;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-parallax-image {
  background-image: url("../src/assets/cranes.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: 60% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::before {
  /* Create the pseudo-element */
  content: ""; /* The pseudo-element must have content */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Apply a semi-transparent black background color to the pseudo-element */
  background-color: rgba(0, 0, 0, 0.2); /* This is your darkening layer */

  /* The z-index must be lower than the content's z-index */
  /* z-index: -1; */
}

.hero h1 {
  font-size: 2.5rem;
}

.social-links {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.social-links a {
  margin: 0 10px;
  color: #333;
  font-size: 24px; /* Adjust if using an icon font */
}

.social-links > a > img {
  height: 2rem;
}
.social-links > a > img:hover {
  /* A common way to change color on an SVG image is to use a filter. */
  /* This example creates a blue-like effect. You can generate filters for other colors online. */
  filter: invert(27%) sepia(99%) saturate(2323%) hue-rotate(225deg)
    brightness(102%) contrast(101%);
}

/* #youtube-icon {
  height: 40px;
} */

/* Description Block */
.description-block {
  display: flex;
  gap: 40px;
  align-items: center;
  font-size: 1.2rem;
  padding-bottom: 0;
}
.description-image {
  flex: 1;
  max-width: 50%;
}
.description-image img {
  display: block;
  margin: 0 auto;
  height: 750px;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  transform: rotateY(0deg);
}

@media screen and (max-width: 1600px) {
  .description-image img {
    height: 450px;
  }
}

/* .description-image:hover img {
  transform: rotateY(180deg);
} */
.description-text {
  flex: 1;
  text-align: left;
}

/* Skills Block */
.skills-block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 20px;
}

.skills-block-wrapper h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

.skill {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 150px;
  padding: 2rem 0.5rem;
}

@media (min-width: 768px) {
  .skill {
    padding: 4rem 1rem;
  }
}

@media (min-width: 1300px) {
  .skill {
    padding: 6rem 1rem;
  }
  .skills-block {
    gap: 3rem;
  }
}
@media (min-width: 1920px) {
  .skill {
    padding: 8rem 1rem;
  }
  .skills-block {
    gap: 6rem;
  }
}

.skill-1 {
  background-color: #e3f2fd;
}
.skill-2 {
  background-color: #e8f5e9;
}
.skill-3 {
  background-color: #fff3e0;
}
.skill .icon {
  font-size: 48px; /* Adjust if using an icon font */
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill .icon img {
  height: 50px; /* Set a fixed height for the icon */
}

/* Projects */
.carousel-container {
  max-width: 1980px;
  margin: 0 auto;
  /* height: 200px; */
  /* column-gap: 2em; */
  /* overflow: visible; */
  height: 600px;
}

.carousel-item {
  /* padding-right: 10px; */
  /* padding-right: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item :last-child {
  /* padding-right: 10px; */
  /* padding-right: 5px; */
}

.carousel-image {
  max-width: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  /* width: 90%; */
  height: auto;
  object-fit: cover;
}

.carousel-dots {
  margin-top: 10px;
}

.show-reel-block {
  border-top: 1px solid #ccc;
  /* padding-top: 0; */
}

/* ShowReel Block */
.show-reel-video {
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.show-reel-block h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0px;
}

/* Get In Touch */
.get-in-touch {
  padding: 40px 20px;
  text-align: center;
}
.get-in-touch a {
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}
